name: Experiment
on: 
  schedule:
  - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  job1:
    name: Debug
    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with: { ref: automation }
    - name: List files
      run: ls
      
    - name: Push to built branch
      uses: Automattic/action-commit-to-branch@master
      with:
        branch: 'automation'
        commit_message: 'Build master'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Required  
      
